<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <h4 style="text-align: center; margin-top: 20px">Change Password</h4>
    <form th:action="@{/login/member/updatePassword}" method="POST">
        <input name="id" type="number" th:value="${member.id}" style="display: none">
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
</div>
</body>
</html>