<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <h1 class="m-3"> View Content</h1>
    <div class="card h-100 ml-3 w-100">
        <div class="card-header container-fluid d-flex" style="padding: 12px 12px 0 12px">
            <div class="mr-auto p-2">
                View Content List
            </div>
            <div class="ml-auto p-2">
                <form th:action="@{/content/search}" class="mb-3 form-inline" method="post">
                    <div class="input-group">
                        <input type="search" class="form-control rounded btn-sm" placeholder="Search By Title" aria-label="Search" aria-describedby="basic-addon1" name="search"/>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary btn-sm ml-1">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body container">
            <div class="row mt-0">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="" style="font-size: 14px;color: black">
                        <th class="col-1 text-center">#</th>
                        <th class="col-2" >Title</th>
                        <th class="col-3">Brief</th>
                        <th class="col-2">Create Date</th>
                        <th class="col-2">Update Date</th>
                        <th class="col-2 text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="content:${listContent}">
                        <td style="word-break: break-word;text-align: center" th:utext="${content.id}"></td>
                        <td  style="word-break: break-word" th:utext="${content.title}"></td>
                        <td  style="word-break: break-word" th:utext="${content.brief}"></td>
                        <td   style="word-break: break-word" th:utext="${content.createDate}"></td>
                        <td   style="word-break: break-word" th:utext="${content.updateDate}"></td>
                        <td  style="word-break: break-word" class="text-center">
                            <a th:href="@{/content/edit/{id}(id=${content.id})}" class="btn" tabindex="-1" role="button" aria-disabled="true" >
                                <i class="fas fa-edit" style="color: blue"></i>
                            </a>
                            <a th:href="@{/content/delete/{id}(id=${content.id})}" class="btn" tabindex="-1" role="button" aria-disabled="true" onclick="deleteContennt()">
                                <i class="fas fa-trash-alt" style="color: red"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>